/**
全局样式
**/

@import "./icon.less";

.app-nav-bar{
  // width: 100%;
  // height: 100%;
  background-image: url('../../public/img/nav_bar.png');
  background-size: 100%;
  // background-position: ;
    // background-color: red !important;
    .van-nav-bar__title{
        color: #ffffff;
    }
    .van-icon{
        color: #ffffff !important;
    }
}
body{
  // background-color: rgb(247, 245, 245);
  background-color: rgb(255, 254, 254);
}